{% extends 'base.html'%}
{% block content %}

<div class="container">
    {% for image in images %}
    <div class="card" style="width:600px;display: flex;
    margin: 0 auto;">
        <div class="card-header">{{image.profile}}</div>
        <a href="{% url 'image_details' image.id%}"><img class="card-img-top"
                style="width:600px; height:400px;object-fit: cover" src="{{image.image.url}}" alt=""></a>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted""> posted {{image.pub_date | timesince }} ago</h6>
            <p class=card-text>{{image.profile}}: {{image.caption}}</p>


            
    </div>
</div>

<br><br>


{% endfor %}
</div>

{% endblock%}