{% extends 'base.html'%}
{% block content %}

<h1>{{profile.user}}</h1>
<a href="{% url 'edit_profile' %}">Edit</a>
<p>{{profile.bio}}</p>
<img src="{{profile.profile_pic.url}}" alt="">

<h2>Images</h2>
{% for image in images %}
<a href="{% url 'image_details' image.id%}"><img src="{{image.image.url}}" alt=""></a>
    <p>{{image.name}}</p>
    <p>{{image.caption}}</p>
    <form role="add_comment" , action="{% url 'add_comment' image.id %}">
        {% csrf_token%}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Comment" name="comment">
            <div class="input-group-btn">
                <button class="btn btn-outline-info" type="submit"> Post</button>

            </div>
        </div>
    </form>
    <hr>
    <br/>
    
    {% endfor %}
{% endblock%}