{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if profile %}
    <br>
    <p style ="text-align: center; color:#774936; font-size: 30px; font-family:'Chelsea Market', cursive;">Found {{profile | length}} account(s)</p>
    {% for prof in profile %}
    <div class="card" style="width: 30rem;display: flex;
    margin: 0 auto;">
        <!-- <img class="card-img" style="object-fit:cover;" src="{prof.profile_pic.url}}" alt=""> -->
        <div style= "margin: 50px; padding: 20px;"class="card-body">

            <h6 class="card-text" style="font-size: 25px;"><i class="fa fa-user" aria-hidden="true">
                    {{prof.username}}</i></h6>
            <br>
           
        
            <button class="btn btn-dark"><a  style=color:white;" href="{%url 'search_profile' prof.id %}">View Profile</a></button>
               </div></div> 
            
           <hr> 

    {% endfor %}
    {% else %}
    <p>No user like that exists</p>
    {% endif %}
</div>
{% endblock %}