{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if profile %}
    {% for prof in profile %}
    <div class="card" style="width: 18rem;display: flex;
    margin: 0 auto;">
        <img class="card-img-top" style="width: 18rem;object-fit:cover;" src="{prof.profile_pic.url}}"alt="">
        <div class="card-body">
            <h6 class="card-text" style="font-size: 25px;"><i class="fa fa-user" aria-hidden="true">
                    {{prof.username}}</i></h6>
            <br>
            <a class="card-link" style="font-size: 20px;" href="{%url 'search_profile' prof.id %}">
                <h4>View profile</h4>
            </a>
            <hr>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <p>No user like that exists</p>
    {% endif %}
</div>
{% endblock %}